[Unit]
Description=Service script launching the foxglove_bridge
Requires=networking.service

[Service]
Type=forking
User=robot
ExecStart=/home/robot/ros_ws/src/backpack_workspace/startup/scripts/launch_foxglove.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
