[Unit]
Description=Service script launching the esp32 controlling the LED screen
Requires=networking.service

[Service]
Type=forking
User=robot
ExecStart=/home/robot/ros_ws/src/backpack_workspace/startup/scripts/launch_esp32.sh
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
